<div
    class="modal"
    tabindex="-1"
    role="dialog"
    id="imagePreview"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalTitle }}</h5>
                <button
                    (click)="handleCloseModal()"
                    type="button"
                    class="btn-close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <!-- <span aria-hidden="true">&times;</span> -->
                </button>
            </div>
            <div class="modal-body">
                <div [innerHTML]="modalContent"></div>
            </div>
            <div class="modal-footer">
                <button
                    (click)="handleCloseModal()"
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >
                    Close
                </button>
                <button
                    (click)="handleConfirmModal()"
                    type="button"
                    class="btn btn-success"
                    data-dismiss="modal"
                >
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>
