<form
    action
    [formGroup]="form"
>
    <div
        class="form-inline"
        *ngFor="let name of entityNames"
    >
        <label for>{{ name | formatName }} :</label>
        <!-- On affiche INPUT quand Type = "INPUT" -->
        <input
            *ngIf="(name | formatType: data) === 'INPUT'"
            class="form-control"
            type="text"
            [formControlName]="name"
            [name]="name"
            [value]="name | formatFormValue : data"
        >
        <!-- On affiche SELECT quand Type = "SELECT" -->
        <select
            class="form-control single-select"
            [name]="name"
            id
            *ngIf="(name | formatType: data) === 'SELECT'"
            [formControlName]="name"
        >
            <option
                [value]="true"
                [selected]="(name | formatFormValue : data) == true"
            >
                YES
            </option>
            <option
                [value]="false"
                [selected]="(name | formatFormValue : data) == false"
            >
                NO
            </option>
        </select>
        <!-- On affiche SELECT quand Type = "CURRENCY" -->
        <select
            class="form-control single-select"
            [name]="name"
            id
            *ngIf="(name | formatType: data) === 'CURRENCY'"
            [formControlName]="name"
        >
            <option
                value="EUR"
                [selected]="(name | formatFormValue : data) == 'EUR'"
            >
                EUR
            </option>
            <option
                value="USD"
                [selected]="(name | formatFormValue : data) == 'USD'"
            >
                USD
            </option>
        </select>
        <!-- On affiche l'image -->
        <div *ngIf="(name | formatType: data) === 'IMAGE'">
            <app-image-view [imageUrls]="name | formatFormValue : data"></app-image-view>
        </div>
        <!-- On affiche une option -->
        <div *ngIf="(name | formatType: data) === 'OPTION'">
            <app-option-form
                [options]="name | formatFormValue : data"
                (emitOption)="handleUpdateOption($event)"
            ></app-option-form>
        </div>
        <!-- On affiche une catégorie -->
        <div *ngIf="(name | formatType: data) === 'SELECT_CATEGORIES'">
            <select
                class="form-control select-categories"
                name="categories[]"
                multiple="multiple"
            >
                <option
                    [value]="category._id"
                    [selected]="categoriesSelected.includes(category._id)"
                    *ngFor="let category of categories"
                >
                    {{ category.name }}
                </option>
            </select>
        </div>
    </div>
    <!-- Affichage des boutons d'actions -->
    <div class="action d-flex justify-content-end py-1 gap-2">
        <button class="btn btn-danger">Cancel</button>
        <button
            class="btn btn-success"
            (click)="handleSubmit()"
        >
            Update
        </button>
    </div>
</form>
