<h2>{{ pageName }}</h2>
<!-- Création des champs -->
<div
    class="entity-content shadow p-2"
    *ngIf="data"
>
    <ul
        class="list-group"
        *ngIf="action=='view'"
    >
        <li
            class="list-group-item"
            *ngFor="let name of entityNamesAll"
        >
            <strong>{{ name | formatName }}</strong>
            :
            <div [innerHTML]="getValue(name) | formatValue: [name, data]"></div>
            <!-- <div [innerHTML]="getValue(name) | formatValueImage: [name]"></div> -->
        </li>
    </ul>
    <!-- On affiche le formulaire d'édition -->
    <app-entity-form
        *ngIf="action=='edit'"
        [entityNames]="entityNamesAll"
        [data]="data"
        (formEmit)="handleFormChange($event)"
    ></app-entity-form>
</div>
